[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "firmware/src/rfm69"]
	path = firmware/src/rfm69
	url = git@github.com:philcrump/UKHASnet_RFM69_Synchronous.git
